<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
	<vendor>Nautilus Admin</vendor>
	<vendor_url>https://github.com/brunonova/nautilus-admin</vendor_url>

	<action id="org.freedesktop.pkexec.nautilus">
		<description>Run Nautilus as Root</description>
		<description xml:lang="it">Esegui Nautilus come Root</description>
		<description xml:lang="ar">شغّل نوتلس كجذر</description>
		<description xml:lang="pt">Executar o Nautilus como Root</description>
		<description xml:lang="fr">Lancez Nautilus en tant qu'administrateur</description>
		<description xml:lang="ru">Запустить Nautilus как Администратор</description>
		<description xml:lang="es">Ejecutar Nautilus como administrador</description>
		<message>Authentication is required to run the File Manager as Administrator</message>
		<message xml:lang="ar">المصادقة مطلوبة لتشغيل مدير الملفات كمدير</message>
		<message xml:lang="it">Autenticazione richiesta per lanciare il File Manager come Amministratore</message>
		<message xml:lang="pt">Autenticação é necessária para executar o Gestor de Ficheiros como Administrador</message>
		<message xml:lang="fr">L'authentification est requise pour lancer le gestionnaire de fichiers en tant qu'administrateur</message>
		<message xml:lang="ru">Для запуска Файлового Менеджера от имени Администратора требуется аутентификация</message>
		<message xml:lang="es">Se necesita autentificación para ejecutar el Gestor de Ficheros como Administrador</message>
		<icon_name>system-file-manager</icon_name>
		<defaults>
			<allow_any>auth_admin</allow_any>
			<allow_inactive>auth_admin</allow_inactive>
			<allow_active>auth_admin</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">@NAUTILUS_PATH@</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
	</action>

	<action id="org.freedesktop.pkexec.gedit">
		<description>Open Gedit as Root</description>
		<description xml:lang="ar">افتح محرر النصوص Gedit كجذر</description>
		<description xml:lang="pt">Abrir Gedit como Root</description>
		<description xml:lang="it">Aprire Gedit come Root</description>
		<description xml:lang="fr">Ouvrir Gedit en tant qu'administrateur</description>
		<description xml:lang="ru">Открыть Gedit как Администратор</description>
		<description xml:lang="es">Abrir Gedit como Administrador</description>
		<message>Authentication is required to run the Text Editor as Administrator</message>
		<message xml:lang="ar">المصادقة مطلوبة لتشغيل محرر النصوص كمدير</message>
		<message xml:lang="pt">Autenticação é necessária para executar o Editor de Texto como Administrador</message>
		<message xml:lang="fr">L'authentification est requise pour lancer l'éditeur de texte en tant qu'administrateur</message>
		<message xml:lang="ru">Для запуска Текстового Редактора от имени Администратора требуется аутентификация</message>
		<message xml:lang="it">Autenticazione richiesta per eseguire l'Editor di Testo come Amministratore</message>		
		
		<icon_name>accessories-text-editor</icon_name>
		<defaults>
			<allow_any>auth_admin</allow_any>
			<allow_inactive>auth_admin</allow_inactive>
			<allow_active>auth_admin</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">@GEDIT_PATH@</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
	</action>

</policyconfig>
