<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
	<vendor>Nautilus Admin</vendor>
	<vendor_url>https://github.com/brunonova/nautilus-admin</vendor_url>

	<action id="org.freedesktop.pkexec.nautilus">
		<description>Run Nautilus as Root</description>
		<description xml:lang="pt">Executar o Nautilus como Root</description>
	  	<description xml:lang="fr">Lancez Nautilus en tant qu'administrateur</description>
		<message>Authentication is required to run the File Manager as Administrator</message>
		<message xml:lang="pt">Autenticação é necessária para executar o Gestor de Ficheiros como Administrador</message>
	  	<message xml:lang="fr">L'authentification est requise pour lancer le gestionnaire de fichiers en tant qu'administrateur</message>
		<icon_name>system-file-manager</icon_name>
		<defaults>
			<allow_any>auth_admin</allow_any>
			<allow_inactive>auth_admin</allow_inactive>
			<allow_active>auth_admin</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">@NAUTILUS_PATH@</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
	</action>

	<action id="org.freedesktop.pkexec.gedit">
		<description>Open Gedit as Root</description>
		<description xml:lang="pt">Abrir Gedit como Root</description>
	  	<description xml:lang="fr">Ouvrir Gedit en tant qu'administrateur</description>
		<message>Authentication is required to run the Text Editor as Administrator</message>
		<message xml:lang="pt">Autenticação é necessária para executar o Editor de Texto como Administrador</message>
	  	<message xml:lang="fr">L'authentification est requise pour lancer l'éditeur de texte en tant qu'administrateur</message>
		<icon_name>accessories-text-editor</icon_name>
		<defaults>
			<allow_any>auth_admin</allow_any>
			<allow_inactive>auth_admin</allow_inactive>
			<allow_active>auth_admin</allow_active>
		</defaults>
		<annotate key="org.freedesktop.policykit.exec.path">@GEDIT_PATH@</annotate>
		<annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
	</action>

</policyconfig>
